<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0302075c-7036-4bee-8e74-5733c1f21c55" name="SampleApi TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0302075c-7036-4bee-8e74-5733c1f21c55fileName">SampleApi-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>